* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	/*font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif;*/ /* 폰트 왼쪽부터 지원하면 적용 */
}
html, body {
	height: 100%;
	margin: 0;
}
ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

img {
	vertical-align: middle;
}

button {
	border: none;
}

input, textarea {
	outline: none;
}

/* main flim 편집하며 생긴 요소 */

div {
	display: block;
}

element.style {
	position: relative;
    padding: 15px - 0px -;
    height: auto;
    margin: 0px -5px;
   
}

p {
	font-size: 10pt;
	font-weight: bold;
}

span {
	font-size: 7pt;
}





/*상단*/
#header {
	width: 100%;
	height: 15%;
}
#header img {
	width: 30%;
	margin: 20px 70px;
}
#header .lists {
	display: inline-block;
	width: 60%;
}
#header .lists ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;


}
#header .lists ul li {
	padding-right: 95px;

}
#header .lists ul li a {

}



/*중앙*/
/*text-box*/

#photo_text_container {
	height: 200px;
	background-color: #f2cb05;
}

.col-dz {
	display: flex;
	justify-content: center;
}
#photo-center{
	margin: 50px;
}

/*main_flim-box*/

.flim_wrap {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 15px 0 15px 0;
}

.flim_table {
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 100%;
}

.item_flim {
	border-radius: 0px;
	display: table-cell;
	vertical-align: top;
}

.item_flim .item_container {
	position: relative;
}

.text_wrap {
	background: transparent;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 10px;
	padding-bottom: 10px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    height: 100%;
}


.item_flim{
	padding-left: 70px;
	padding-right: -10px;
}




/*하단*/

#footer {
	position: absolute;
	width: 100%;
	height: 95px;
	bottom: 0;
}
#footer .F_container {
	position: fixed;
	background-color: #88d9c3;
	width: 100%;
	height: 95px;
	bottom: 0;
}
#footer .left {
	position: absolute;
	display: inline-block;
	height: 100%;
	margin-left: 50px;

}
#footer .left img {
	height: 100%;

}
#footer .right {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
#footer .right .right_top {
	text-align: right;
    margin-left: 54%;
    margin-right: 20px;
}
#footer .right .right_top ul {

}
#footer .right .right_top ul li {
	display: inline-block;
}
#footer .right .right_top ul li:before {
	display: inline-block;
	content: '';
	width: 1px;
	height: 15px;
	background-color: #000;
	margin: 0 8px;
	vertical-align: -3px;
}
#footer .right .right_top ul li:nth-child(1):before,
#footer .right .right_top ul li:nth-child(5):before {
	content: none;
}
#footer .right .right_bottom {
	text-align: right;
    margin-left: 54%;
    margin-right: 20px;
}
#footer .right .right_bottom ul {

}
#footer .right .right_bottom ul li {

	display: inline-block;
}
#footer .right .right_bottom ul li:before {
	display: inline-block;
	content: '';
	width: 1px;
	height: 15px;
	background-color: #000;
	margin: 0 8px;
	vertical-align: -3px;
}
#footer .right .right_bottom ul li:nth-child(1):before,
#footer .right .right_bottom ul li:nth-child(3):before {
	content: none;
}